@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('./assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('./assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth; 
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  background-color: #EFE6E4;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  font-size: 16px;
  line-height: auto;
}

.intro {
  background-image: url('./assets/img/bg-intro.jpg');
}

.main-title {
  font-size: 50px;
  line-height: 62px;
}

.button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #CC8B86;
}

.button:hover {
  cursor: pointer;
}

.section-title {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.achievements {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #8D7370;
}

.projects-list {
  color: #FFFFFF;
}

.project-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.visually-hidden {
  visibility: hidden;
}

.see-more {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.workflow-list {
  text-align: center;
}

.review-author {
  text-transform: uppercase;
}

.leave-request {
  
  color: #FFFFFF;
  background-color: #8D7370;
}

input::placeholder {
  font-size: 18px;
  line-height: 30px;
}

.request-button {
  border: none;
}